@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
html{
    background-color: black;
    font-family: 'Inter', sans-serif;
}

#button{
    text-align: center;
    color: white;
}
h1{
    text-align: center;
    color:white;
}
#para{
    text-align: center;
    color:white;
    margin-top: 40px;

}
#imp{
   background-color: #928a94;
    color: #ffffff;
    width: 400px;
    height: 50px;
    font-size: 20px;
    border: 0; 
    padding: 10px 40px; 
    border-radius: 15px; 
}
::placeholder{
    color: #ffffff;
}
footer{
    position: absolute;
    width: 100%;
    bottom: 0;
}