nav{
    
    background: linear-gradient(90deg, rgba(144,56,170,0.9) 20%, rgba(56,111,170,0.9) 90%);
}
nav ul li:hover{
    border: none;
    background: rgb(255, 255, 255);
    border-radius: 10px;
    color: white;
}