nav{
    
    background: linear-gradient(90deg, rgba(144,56,170,0.9) 20%, rgba(56,111,170,0.9) 90%);
}
nav ul li:hover{
    border: none;
    background: rgb(255, 255, 255);
    border-radius: 10px;
    color: white;
}
nav img{
    background-color: white;
    border-radius: 5% ;
}
nav a{
    font-weight: bold;
    vertical-align: middle;
    display: flex;
    align-items: center;
}
nav a span{
    margin-left: 15%;
}