nav{
    
    background: linear-gradient(90deg, rgba(144,56,170,0.9) 20%, rgba(56,111,170,0.9) 90%);
}
nav ul li:hover{
    border: none;
    background: rgb(255, 255, 255);
    border-radius: 10px;
    color: white;
}
nav img{
    background-color: white;
    border-radius: 5% ;
}
nav a{
    font-weight: bold;
    vertical-align: middle;
    display: flex;
    align-items: center;
}
nav a span{
    margin-left: 15%;
}

.about{
    text-align: center;
}
.about .row{
    text-align: center;
    justify-content: space-around;
}
.about .row .column{
    display: inline-block;
    max-width: 28%;
}
.about .card img{
    margin-left: auto;
    margin-right: auto;
    padding-top: 8px;
    border-radius:10px;
}
.about .card .container{
    display: inline-block;
}
.banner{
    vertical-align: middle;
    text-align: center;
    margin-top:30vh;
    margin-bottom: 30vh;
}
.contact{
    margin-top: 40px;
    padding-top: 50px;
    background-color: black;
    color: white;
    text-align: center;
    padding-bottom: 50px;
}
